<div class="article" ng-controller='productCtrl'>
	<table>
		<tr>
			<td>编号</td>
			<td>商品名</td>
			<td>数量</td>
			<td>操作</td>
		</tr>
	</table>
	<div class="list" ng-repeat="data in products">
		<div class="id">{{ data.id }}</div>
		<div>{{ data.name }}</div>
		<div>{{ data.amount }}</div>
		<div><a href="javascript:void(0);" ng-click="goDetail()">查看详情</a> <a href="javascript:void(0);" ng-click="change($index)">修改</a> <a href="javascript:void(0);" ng-click="delete($index)">删除</a></div>
	</div>
</div>