<div class="container">		
	<div class="login" ng-controller='loginCtrl'>
		<h3>Login</h3>
		<p ng-if='fail' ng-model='fail' ng-init='fail=false'>Password doesn't match the username</p>
		<input type="text" placeholder="username" ng-model="username" class="inp" id="username"><br>
		<input type="password" placeholder="password" ng-model="password" class="inp" id="password"><br>
		<div class="keep">
			<input type="checkbox" id="check" checked><span>Keep Password</span>
		</div>
		<a href="javascript:void(0);" id="btn" ng-click='login()'>SignIn</a>
	</div>
</div>
