@charset "utf-8";
/* CSS Document */


body,div,p,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input{
	margin:0; padding:0; font:12px "微软雅黑"; color: #333;
	}
html,body{
	height:100%;
}
a{
	text-decoration:none;
	}
li{
	list-style:none;
	}
img{
	border:0;
	}

/*----------------------login-------------------------*/

.container{
	width: 500px;
	padding: 40px 20px;
	margin: 0 auto;
	background: #f1f1f1;
	margin-top: 100px;
	border: 1px solid #999;
	border-radius: 2px;
}
.container .login{
	width: 300px;
	margin: 0 auto;
}
.container .login h3{
	font-size: 22px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.container .login p{
	margin-top: 20px;
	width: 100%;
	height: 40px;
	border: 1px solid #fc0;
	background: #e30;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
.container .login .inp{
	width: 300px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	margin-top: 20px;
	text-indent: 10px;
}
.container .login .fill{
	border: 1px solid #0c0;
}
.container .login .notfill{
	border: 1px solid #c00;
}
.container .login .keep{
	width: 100%;
	height: 20px;
	margin-top: 30px;
}
.container .login .keep span{
	padding-left: 10px;
}
.container .login a{
	margin-top: 10px;
	display: block;
	width: 300px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	background: #ccc;
	color: #fff;
}

/*-----------------------main---------------------------*/

.main{
	width: 1000px;
	margin: 30px auto 0;
}
.main .aside{
	width: 200px;
	height: 500px;
	float: left;
}
.main .aside h3{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-indent: 20px;
	background: #999;
	color: #fff;
	font-size: 22px;
	margin-bottom: 10px;
}
.main .aside .option{
	width: 100%;
	height: 440px;
	background: #f1f1f1;
}
.main .aside dl{
	width: 100%;
	background: #f1f1f1;
}
.main .aside dl dt{
	margin-bottom: 10px;
	width: 160px;
	padding: 0 20px;
	height: 30px;
	font-size: 20px;
	background: #ccc;
	color: #fff;
}
.main .aside dl:last-of-type dt{
	margin-top: 10px;
}
.main .aside dl dd ul li{
	margin-top: 5px;
	width: 100%;
	height: 26px;
	font-size: 16px;
	text-indent: 20px;
}
.main .aside dl dd ul li a{
	color: #333;
}
.main .aside dl dd ul li:hover{
	background: #fff;
}

.main .content{
	width: 780px;
	float: left;
	margin-left: 20px;
}
.main .content .nav{
	width: 100%;
	height: 90px;
}
.main .content .nav h3{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	font-size: 20px;
	background: #f1f1f1;
	text-indent: 30px;
	line-height: 50px;
}
.main .content .nav ul{
	width: 100%;
	height: 30px;
	background: #999;
}
.main .content .nav ul li{
	float: left;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
}
.main .content .nav ul .sort{
	width: 150px;
	margin-left: 20px;
}
.main .content .nav ul .seek{
	width: 300px;
	
}
.main .content .nav ul .add{
	width: 80px;
	float: right;
}
.main .content .nav ul .search{
	width: 180px;
	height: 20px;
	border: 0;
}
.main .content .nav ul .btn{
	color: #999;
	display: inline-block;
	width: 50px;
	height: 20px;
	margin-left: 20px;
	line-height: 20px;
	background: #f1f1f1;
	text-align: center;
}
.main .content .nav ul .btn:hover{
	color: #333;
}
.main .content .article{
	width: 100%;
	height: 410px;
	background: #f1f1f1;
}
.main .content .article table{
	width: 100%;
	height: 30px;
	font-size: 16px;
	background: #ccc;
	color: #fff;
	text-align: center;
}
.main .content .article .list{
	width: 100%;
}
.main .content .article .list > div{
	width: 25%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	float: left;
	text-align: center;
}
.main .content .article .list > div a{
	color: #333;
}
.main .content .article .list > div a:hover{
	text-decoration: underline;
}

.main .content .detail{
	width: 100%;
	height: 400px;
	background: #f1f1f1;
	font-size: 16px;
	text-indent: 20px;
}
.main .content .detail p{
	margin: 8px 10px;
	font-size: 18px;
}

/*-------------window------------*/
.window{
	width: 300px;
	height: 150px;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 200px auto;
	display: none;
}
.window input{
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-size: 16px;
	margin: 10px 0 0;
}
.window a{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin: 10px 0 0;
	background: #ccc;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
.window .cancel{
	margin-left: 80px;
	background: #c00;
	color: #fff;
}